<!DOCTYPE html>
<html>
<title>add your favourite food here</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<body>
<div class="w3-panel w3-yellow">
  <p>Let me know more about your beloved foods :)</p>
</div>
<div class="w3-card-4">
  <div class="w3-container w3-brown">
    <h2>Input Colors</h2>
  </div>
  <form method = "post" class="w3-container" action="{{ url_for("add") }}">
    <p>
    <label class="w3-label w3-text-brown"><b>Your Name</b></label>
    <input class="w3-input w3-border w3-sand" name="name" type="text"></p>
    <p>
    <label class="w3-label w3-text-brown"><b>Email</b></label>
    <input class="w3-input w3-border w3-sand" name="email" type="text"></p>
    <p>
    <label class="w3-label w3-text-brown"><b>What's your favourite food you would like to share</b></label>
    <input class="w3-input w3-border w3-sand" name="food_name" type="text"></p>
    <p>
    <label class="w3-label w3-text-brown"><b>How about an image?(Leave a link here)</b></label>
    <input class="w3-input w3-border w3-sand" name="image" type="text"></p>
    <p>
    <label class="w3-label w3-text-brown"><b>Tell me a little bit about that dishes</b></label>
    <input class="w3-input w3-border w3-sand" name="desc" type="text"></p>
    <p>
    <button class="w3-btn w3-brown">Submit</button></p>
  </form>
</div>

</body>
</html>
